body {
	background-color: #b268eeb6;
	text-align: center;
}

h1 {
	color: #fff;
	text-shadow: 1px 1px 3px black;
	font-size: 40px;
	margin: 50px 0px 50px 0px;
}

h2 {
	color: #fff;
	text-shadow: 1px 1px 3px black;
	font-size: 30px;
	margin: 50px 0px 20px 0px;
}



.block {
	display: inline-block;
	width: 22%;
	background-color: #fff;
	text-align: center;
	height: 600px;
	border: 2px solid black;
	border-radius: 10px;
	margin: 7px 7px 7px 7px;
	box-shadow: 1px 2px 6px 2px #ff1495;
}

img {
	width: 100%;
	border-radius: 5px 5px 0px 0px;
}

.logo{
	width: 100px;
	vertical-align: middle;
}

.button {
	background-color: #b268eeb6;
	text-decoration: none;
	color: #333;
	border-radius: 20px;
	display: inline-block;
	width: 150px;
	font-size: 22px;
	padding: 5px 10px 5px 10px;
	border: 2px solid #ff1495;
}

.item{
	margin: 40px;
	font-size: 25px;
	text-decoration: none;
	color: #666;
}

.menu{
	background-color: #fff;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 1px 2px 6px 2px #ff1495;
}
